.cardButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 15%;
    background-color: #3E1300;
    border-radius: 30px;
    border: navajowhite;
    color: white;
    font-size: 17px;
    padding: 1%;
}
.buttonCartNumber{
    background-color: #A33124;
    color: white;
    border-radius: 50px;
    padding: 3% 7%;
}
.CartIcon{
    width: 15%;
    /* color: white; */
}